.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
.venv
__pycache__
.env
.env.production
.env.development
archive
slack-bot-464701-a39f504b3fa5.json
users.json